.app-header {
  position: fixed;
  top: 150px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blauwL);
  color: var(--paars);
}
.header-title {
  margin: 20px;
}
.menu-header {
  list-style: none;
  display: flex;
  padding: 20px;
}

.droplist {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-inline: 30px;
}
.droplist:after,
.droplist:before {
  display: inline;
  content: "";
  width: 0%;
  height: 5px;
  background-color: var(--blauwD);
  transform: translateX(-50%);
  transition: all .5s;
  position: absolute;
}
.droplist:hover:after {
  width: 100%;
  margin-top: 5px;
}
.droplist:hover:before {
  width: 100%;
  margin-top: -10px;
}
.droplist:hover,
.droplist:active {
  color: var(--blauwD) !important;
}
.dropdownMenu-ingred {
  display: block;
  z-index: 10;
  position: absolute;
  z-index: 13;
  font-size: 20px;
  background-color: var(--blauwL);
  color: var(--paars);
}
.droplistIng {
  box-shadow: 8px 8px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: var(--blauwL);
  min-width: 180px;
  border-radius: 3px;
}
.droplistIng>li {
  color: var(--paars);
  padding: 22px 30px;
  text-decoration: none;
  display: block;
  z-index: 13;
}
.droplistIng>li:hover{
  color: var(--blauwD);
}

.dropdownMenu-recipe {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 10;
  top: 200px;
  width: 100%;
  height: fit-content;
  font-size: 20px;
  background-color: var(--blauwL);
  color: var(--paars);
}
.dropdownMenu-recipe>ul>input{
 padding: 10px;
 margin: 15px;
 border-radius: 5px;
}
.dropdownMenu-recipe>ul {
  padding: 30px;
  list-style-type: none;
  margin: 30px;
  position: relative;
  left: 250px;
  bottom: 40px;
  text-align: start;
}
.ing{
  margin: 10px 0px;
}
.ing:hover {
  cursor: pointer;
  color: var(--blauwD);
  margin: 10px;
}

.dropmenuCloseBtn {
  padding: 10px 30px;
  background-color: var(--paars);
  color: var(--blauwL);
  font-size: 30px;
  border-radius: 5px;
  z-index: inherit;
}
.dropmenuCloseBtn:hover {
  background-color: var(--blauwL);
  color: var(--blauwD);
  cursor: pointer;
  transform: scale(1.2, 1);
  box-shadow: 0 0 5px 5px rgb(30, 30, 60)
}



@media only screen and (max-width: 768px) {
  .app-header {
    position: fixed;
    top: 75px;
    width: 100%;
    height: 85px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--blauwL);
    color: var(--paars);
  } 
   .header-title {
  margin: 0;
  margin-top: 10px;
    font-size: 20px;
  }
  .menu-header {
    list-style: none;
      padding: 0;
  }
.droplist {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-inline: 20px;

}
.droplist>h2{
    font-size: 20px;
}
.droplist:after,
.droplist:before {
  display: inline;
  content: "";
  width: 0%;
  height: 2.5px;
  background-color: var(--blauwD);
  transform: translateX(-50%);
  transition: all .5s;
  position: absolute;
}
.droplist:hover:after {
  width: 100%;
  margin-top: 0px;
}
.droplist:hover:before {
  width: 100%;
  margin-top: -1px;
}
.droplist:hover,
.droplist:active {
  color: var(--blauwD) !important;
}
.dropdownMenu-ingred {
  display: block;
  z-index: 10;
  position: absolute;
  font-size: 20px;
  background-color: var(--blauwL);
  color: var(--paars);
}
.droplistIng {
  box-shadow: 8px 8px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: var(--blauwL);
  border-radius: 3px;
}
.droplistIng>li {
  color: var(--paars);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  z-index: 13;
}
.btn{
 visibility: hidden;
 height: 0;
 width: 0;
 margin: 0;
 font-size: 0;
}

.dropdownMenu-recipe {
  position: absolute;
  top: 70px;
  display: block;
  z-index: 10;
  width: 100%;
  height: fit-content;
  font-size: 15px;
  background-color: var(--blauwL);
  color: var(--paars);
}
.dropdownMenu-recipe>ul>input{
  margin: 10px;
  padding: 5px;
  position: relative;
  left: -10px;
}
.dropdownMenu-recipe>ul {
  padding: 10px;
  list-style-type: none;
  margin: 10%;
  margin-left: 50px;
  position: relative;
  left: 0px;
  text-align: start;
}
.ing:hover {
  cursor: pointer;
  color: var(--blauwD);
  margin: 10px;
}

.dropmenuCloseBtn {
  padding: 5px 10px;
  margin: 15px;
  background-color: var(--paars);
  color: var(--blauwL);
  font-size: 15px;
  border-radius: 5px;
  z-index: inherit;
  float: right;
}
.dropmenuCloseBtn:hover {
  background-color: var(--blauwL);
  color: var(--blauwD);
  cursor: pointer;
  transform: scale(1.5, 1.5);
  box-shadow: 0 0 3px 2px rgb(30, 30, 60)
}

}