.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
   
  }
  .dayComp:hover{
      cursor: pointer;
      transform: scale(1.2);
      z-index: 2; 
         box-shadow: 0 0 5px 2px aquamarine, 0 0 5px 5px grey;
      
  }

  .dayComp{
    border: 2px solid black;
    width: 500px;
    margin: 10px;
border-radius: 5px;
     background-color: rgba(30, 30, 60, 0.8);
     color: rgb(253, 226, 193);
  }
  .dayComp-day{
    color: rgb(206, 144, 68);
  }
  .dayComp-ingred{
    color: rgb(124, 92, 52);
  }
  .dayCompBig{
   width: 450px;
   height: 350px;
   position: absolute;
   top: 440px;
    transform: scale(2);
    background-color : rgba(30, 30, 60, 1);
    color: rgb(253, 226, 193);
    z-index: 4;
  }
  .dayComp-dayBig{
    color: rgb(206, 144, 68);
  }
.dayComp-ingredBig{
    color: rgb(253, 226, 193);
  }
