.app-header {
    position: fixed;
    top: 150px;
    width: 100%;
    z-index: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: var(--blauwL);
      color: var(--paars);
    }
    .menu-header{
      list-style: none;
      display: flex;
    
    }
    .dropdownMenu-recipe{
     
      display: block;
      z-index: 10;
      position: fixed;
    top: 180px;
    width: 100%;
    height: fit-content;
    font-size: 20px;
      background-color: var(--blauwL) ;
      color:var(--paars) ;
     
    }
    .dropdownMenu-recipe>ul{
       list-style-type: none;
       margin: 30px;
       position: relative;
       left: 250px;
       bottom: 40px;
       text-align: start;
    }
    .dropdownMenu-ingred{
      display: block;
      z-index: 10;
      position: absolute;

    width: 100%;
    z-index: 13;
    font-size: 20px;
      background-color:var(--blauwL);
      color: var(--paars);
    
    }
    
    
    .droplistIng{
    
      position: relative;
    
    background-color: var(--blauwL);
      min-width: 180px;
      box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
    
    }
    .droplistIng>li{
      color: var(--paars);
      padding: 22px 30px;
      text-decoration: none;
      display: block;
      z-index: 13;
    }
    .droplistIng>li:hover{
        color: var(--blauwD);
    }
    .dropmenuCloseBtn{
      padding: 10px 30px;
      position: relative;
     left: 350px;
     top: 350px;
     background-color: var(--paars); 
     color: var(--blauwL) ;
     font-size: 30px;
     border-radius: 5px;
     z-index: inherit;
    }
    .dropmenuCloseBtn:hover{
     background-color: var(--blauwL);
     color: var(--paars);
     cursor: pointer;
     transform: scale(1.2);
     box-shadow: 0 0 5px 5px rgb(30,30,60) 
    }
    .menu-header>li{
      margin: 25px;
    }
    .title:first-child {
    padding: 20px;
    font-size: 50px;
    }
    .header{
     position: fixed;
    text-align: center;
      width: 100%;
      height: 200px;
      background-color: var(--blauwD);
      color:var(--blauwL);
    z-index: 1;
    }
    .header-title{
      margin: 20px;
    }
    .droplist{
      cursor: pointer;
     position: relative;
      display: inline-block;
    }
    .droplist:hover{
     color:var(--blauwD);
    
    }
    .droplist:active{
      color:var(--blauwD) !important;
     
     }