.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.title{
  margin-top: 30px;
  height: 80px;
  background-color: grey;
  color: aquamarine;
 padding: 30px;
 position: fixed;
 width: 100%;
 z-index: 3;
}
.header{
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-around;
}
.menuselector-title{
  position: relative;
top: 200px;
}
legend{
  font-size: 30px;
  position: relative;
  top: 200px;
}
.importMenu{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 25px;
  position: relative;
  top: 200px;
}
.importMenu input{
  padding: 20px;
  margin: 10px;
}
.btn{
  margin: 10px;
 padding: 10px 20px ;
  align-self: center;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 5px; 
  color: aquamarine;
  background-color: grey;
}
.btn:hover{
   background-color: aquamarine;
  color: grey;
  cursor: pointer;
  transform: scale(1.2);
}