.App {
  text-align: center;
}
.title{
  height: 70px;
  background-color: grey;
  color: aquamarine;
  padding-top: 30px;
}
.header{
  display: flex;
  justify-content: space-around;
}
.day{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.dayComp{
  border: 2px solid black;
  width: 500px;
  margin: 10px;
  box-shadow: 0 0 5px 5px grey;
}
