.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("https://image.shutterstock.com/image-vector/cafe-pattern-doodle-tea-pots-600w-693144967.jpg");
}

.menuselector-title{
color: aqua;
}
legend{
  font-size: 30px;
  position: relative;
  top: 20px;
}
.importMenu{
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 25px;
  position: relative;
  top: 20px;

}
.importMenu input{
  padding: 20px;
  margin: 10px;
  
}
fieldset{
  height: 80vh;
  width: 50vw;
}
.btn{
  margin: 10px;
 padding: 10px 20px ;
  align-self: center;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 5px; 
  color: aquamarine;
  background-color: rgb(120,20,180);
}
.btn:hover{
   background-color: aquamarine;
  color: rgb(120,20,180);
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 5px 5px rgb(30,30,60) ;
}